.produto_item img {
	max-width: 1000px;
}

.interna_produtos {
	background: url("../img/bg/bg-produtos.jpg") no-repeat center;
	background-size: cover;
}

.pad {
	padding-bottom: 60px;
}

.produto_item {
	padding-top: 60px;
}

.produto_item img {
	display: block;
}

.produto_icone {
	background: #182741;
	padding: 55px 0;
}

.produto_icone img {
	margin: 0 auto;
}

.produto_item h2 {
	color: #d8dacc;
	font-size: 36px;
	letter-spacing: .1em;
	text-transform: uppercase;
	font-weight: bold;
	position: relative;
	top: -173px;
	text-align: center;
	margin-bottom: -47px;
}

.produto_item h2:after, .produto_item h2:before  {
	content: "";
	display: block;
	width: 120px;
	height: 3px;
	background: #ff1e04;
	margin: 5px auto;
}

.produto_info {
	width: 370px;
	margin-left: 40px;
	height: 285px;
	background: #182741;
}

.produto_info p {
	font-size: 18px;
	font-family: georgia, times new roman, serif;
	line-height: 25px;
	color: #d8dacc;
	text-align: center;
	padding-top: 19px;
}

.produto_info ul li {
	color: #d8dacc;
	width: 170px;
	height: 50px;
	background-color: #ff1e04;
	font-family: arial, sans-serif;
	font-weight: bold;
	line-height: 25px;
	font-size: 18px;
	text-align: center;
	padding-top: 13px;
	margin: 20px auto;
}

/*Orçamento*/

.orcamento {
	background: #182741;
	padding-top: 60px;
	font-family: georgia, times new roman, serif;
	color: #d8dacc;
	font-size: 18px;
	padding-bottom: 60px;
}

.barra {
	width: 3px;
	height: 410px;
	background: #ff1e04;
	margin: 0px 50px 0px 50px;
}

form input {
	width: 100%;
	border: 4px solid #ff1e04;
	background: #d8dacc;
	color: #182741;
	font-size: 14px;
	padding: 5px 5px;
	outline: none;
}

form textarea {
	width: 100%;
	height: 100px;
	border: 4px solid #ff1e04;
	background: #d8dacc;
	color: #182741;
	font-size: 14px;
	padding: 5px 5px;
	outline: none;
}

form button {
	font-family: arial, sans-serif;
	cursor: pointer;
}

.orcamento_dados h3 {
	font-size: 18px;
	font-family: arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .1em;
	color: #d8dacc;
}

.dados {
	padding-bottom: 60px;
}

.dados p {
	line-height: 25px;
}

.dados h3 {
	padding-bottom: 5px;
}

.customize p, .customize ul {
	padding-bottom: 10px;
	font-size: 14px;
	line-height: 25px;
	padding-right: 50px;
}

.customize ul li {
	padding: 2px 10px;
}

.customize ul li:nth-child(odd) {
	background: #243A61;
}